{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <legend class="border-bottom mb-1">Create New Game</legend>
        <div class="article-metadata">
            <button type="button" class="btn btn-outline-info m-1 mb-2" data-toggle="modal" data-target="#createModal">New Game</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createModalLabel">Create New Game?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <input class="btn btn-primary" type="submit" value="Create">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
