{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">Start New Game</h2>
            </div>
        </div>
        <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }} <!-- adds CSRF token: protect attacks-->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    {% for ug in usersgames %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <medium class="text-muted">Game:</medium>
              <a class="mr-2" href="{{ url_for('games.usergame', usergame_id=ug.users_games_id) }}">{{ ug.game_id }}</a>
            </div>
                <medium class="test-muted">Total Score:</medium>
                <a class="article-title" href="#">{{ ug.grand_total_score }}</a>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
