{% extends "layout.html" %}
{% block content %}
    {% for ug in usersgames %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <medium class="text-muted">Game:</medium>
              <a class="mr-2" href="{{ url_for('games.usergame', game_id=ug.game_id, usergame_id=ug.users_games_id) }}">{{ ug.game_id }}</a>
            </div>
                <medium class="test-muted">Total Score:</medium>
                <a class="article-title" href="#">{{ ug.grand_total_score }}</a>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
