{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
            <medium class="text-muted">Game: {{ usergame.game_id }}</medium>
        </div>
        <div class="container" style="float:left; width:250px; margin:10px">
            <table>
                <tr>
                    <th>Singles Options</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>Ones</td>
                    <td>{{ usergame.ones }}</td>
                </tr>
                <tr>
                    <td>Twos</td>
                    <td>{{ usergame.twos }}</td>
                </tr>
                <tr>
                    <td>Threes</td>
                    <td>{{ usergame.threes }}</td>
                </tr>
                <tr>
                    <td>Fours</td>
                    <td>{{ usergame.fours }}</td>
                </tr>
                <tr>
                    <td>Fives</td>
                    <td>{{ usergame.fives }}</td>
                </tr>
                <tr>
                    <td>Sixes</td>
                    <td>{{ usergame.sixes }}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Top Bonus Score</th>
                    <td style="font-weight:bold">{{ usergame.top_bonus_score }}</th>
                </tr>
                <tr>
                    <td style="font-weight:bold">Total Top Score</th>
                    <td style="font-weight:bold">{{ usergame.total_top_score }}</th>
                </tr>
            </table>
        </div>
        <div class="container" style="float:left; width:250px; margin:10px">
            <table>
                <tr>
                    <th>Bottom Options</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>Three of a Kind</td>
                    <td>{{ usergame.three_of_a_kind }}</td>
                </tr>
                <tr>
                    <td>Four of a Kind</td>
                    <td>{{ usergame.four_of_a_kind }}</td>
                </tr>
                <tr>
                    <td>Full House</td>
                    <td>{{ usergame.full_house }}</td>
                </tr>
                <tr>
                    <td>Small Straight</td>
                    <td>{{ usergame.small_straight }}</td>
                </tr>
                <tr>
                    <td>Large Straight</td>
                    <td>{{ usergame.large_straight }}</td>
                </tr>
                <tr>
                    <td>Yahtzee</td>
                    <td>{{ usergame.yahtzee }}</td>
                </tr>
                <tr>
                    <td>Chance</td>
                    <td>{{ usergame.chance }}</td>
                </tr>
                <tr>
                    <td>Yahtzee Bonus</td>
                    <td>{{ usergame.yahtzee_bonus }}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Total Bottom Score</th>
                    <td style="font-weight:bold">{{ usergame.total_bottom_score }}</th>
                </tr>
            </table>
        </div>
      </div>
    </article>
    <article class="media content-section">
        <div class="container" style="float:left; width:250px; margin:10px">
            <table>
                <tr>
                    <th>Summary</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>Total Top Score</td>
                    <td>{{ usergame.total_top_score }}</td>
                </tr>
                <tr>
                    <td>Total Bottom Score</td>
                    <td>{{ usergame.total_bottom_score }}</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Grand Total Score</td>
                    <td style="font-weight:bold">{{ usergame.grand_total_score }}</td>
                </tr>
            </table>
        </div>
    </article>
{% endblock content %}
