{% extends "usergame.html" %}
{% block inception %}

    <!-- Manages dice rolling UI and logic -->
    <div id="rollDice" class="mb-3">
        <form method="POST" action="/button-type">
            <div class="container-flex">
                <button type="button" class="btn btn-outline-info mt-2" id="startRollBtn">Start Roll</button>
                <button type="button" class="hide btn btn-outline-info mt-2" id="stopRollBtn">Stop Roll</button>
                <button type="button" class="hide btn btn-outline-info mt-2" id="scoringOptionBtn">Select Scoring Option</button>
            </div>

            {# {{ form.hidden_tag() }} <!-- adds CSRF token: protect attacks-->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info mt-2") }}
            </div> #}
        </form>
        <!-- Displays dice roll results -->
        <div class="container-flex rollResult">
        </div>
    </div>
{% endblock inception %}

