{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <form method="POST" action="">
            {{ form.hidden_tag() }} <!-- adds CSRF token: protect attacks-->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info mt-2") }}
            </div>
        </form>
        {# <button type="button" class="btn btn-sm m-1 mb-4">Play Game</button> #}
        <div class="article-metadata">
            <medium class="text-muted">Game: {{ usergame.game_id }}</medium>
        </div>
        <div class="container" style="float:left; width:250px; margin:10px">
            <table>
                <tr>
                    <th>Top Options</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>Ones</td>
                    <td class="align-right">
                    {% if usergame.ones != None %}
                    {{ usergame.ones }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Twos</td>
                    <td class="align-right">
                    {% if usergame.twos != None %}
                    {{ usergame.twos }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Threes</td>
                    <td class="align-right">
                    {% if usergame.threes != None %}
                    {{ usergame.threes }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Fours</td>
                    <td class="align-right">
                    {% if usergame.fours != None %}
                    {{ usergame.fours }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Fives</td>
                    <td class="align-right">
                    {% if usergame.fives != None %}
                    {{ usergame.fives }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Sixes</td>
                    <td class="align-right">
                    {% if usergame.sixes != None %}
                    {{ usergame.sixes }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="bold">Top Bonus Score</td>
                    <td class="bold align-right">
                    {% if usergame.top_bonus_score != None %}
                    {{ usergame.top_bonus_score }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="bold">Total Top Score</td>
                    <td class="bold align-right">
                    {% if usergame.total_top_score != None %}
                    {{ usergame.total_top_score }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="container" style="float:left; width:250px; margin:10px">
            <table>
                <tr>
                    <th>Bottom Options</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>Three of a Kind</td>
                    <td class="align-right">
                    {% if usergame.three_of_a_kind != None %}
                    {{ usergame.three_of_a_kind }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Four of a Kind</td>
                    <td class="align-right">
                    {% if usergame.four_of_a_kind != None %}
                    {{ usergame.four_of_a_kind }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Full House</td>
                    <td class="align-right">
                    {% if usergame.full_house != None %}
                    {{ usergame.full_house }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Small Straight</td>
                    <td class="align-right">
                    {% if usergame.small_straight != None %}
                    {{ usergame.small_straight }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Large Straight</td>
                    <td class="align-right">
                    {% if usergame.large_straight != None %}
                    {{ usergame.large_straight }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Yahtzee</td>
                    <td class="align-right">
                    {% if usergame.yahtzee != None %}
                    {{ usergame.yahtzee }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Chance</td>
                    <td class="align-right">
                    {% if usergame.chance != None %}
                    {{ usergame.chance }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Yahtzee Bonus</td>
                    <td class="align-right">
                    {% if usergame.yahtzee_bonus != None %}
                    {{ usergame.yahtzee_bonus }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="bold align-right">Total Bottom Score</td>
                    <td class="bold align-right">
                    {% if usergame.total_bottom_score != None %}
                    {{ usergame.total_bottom_score }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </article>
    <article class="media content-section">
        <div class="container" style="float:left; width:250px; margin:10px">
            <table>
                <tr>
                    <th>Summary</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>Total Top Score</td>
                    <td class="align-right">
                    {% if usergame.total_top_score != None %}
                    {{ usergame.total_top_score }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Total Bottom Score</td>
                    <td class="align-right">
                    {% if usergame.total_bottom_score != None %}
                    {{ usergame.total_bottom_score }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="bold">Grand Total Score</td>
                    <td class="bold align-right">
                    {% if usergame.grand_total_score != None %}
                    {{ usergame.grand_total_score }}
                    {% else %}
                    0
                    {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </article>
{% endblock content %}
